<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Arebis.QuickQueryBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="skipSaveOnReadOnly" value="true"/>
  </appSettings>
    <userSettings>
        <Arebis.QuickQueryBuilder.Properties.Settings>
            <setting name="DatabaseConnectionDialog_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DatabaseConnectionDialog_Width" serializeAs="String">
                <value>0</value>
            </setting>
        </Arebis.QuickQueryBuilder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
